.footer {
  background-color: #212529; /* Aceeași culoare ca header-ul */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100vw; /* Se asigură că ocupă toată lățimea ecranului */
  position: relative;
  left: 0;
  right: 0;
}